body{
    font-family: Arial, Helvetica, sans-serif;
    font-size : 1.1rem;
    line-height: 1.5;

    /* background-color */
    background-color: #20252f;

    /* color of font or object*/
    color: #fff;
}




/* ouline color And Background Color */

p {
    outline: 2px solid #ffffff;
    background-color: #ff871f;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

p{
    box-shadow: .1rem 0.1rem 3rem 1px #ff881f6f;
    /* box-shadow: h-shadow v-shadow blur spread color inset; */
}

.grd {
    background: linear-gradient(45deg, #baf714d1, #1fffe5);
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}