body {
    font-size: 1.2rem;
}

h3, h4 {
    color: rgb(255, 193, 59);
}

p span {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    background-color: salmon;
}

p{
    color: red;
}

#second{
    color: blue;
    font-style: italic;
}

.grey{
    color: rgb(47, 52, 57);
}

